<h1>About</h1>

<div class="card">
  <div class="card-header">
    People Search Author Information
  </div>
  <div class="card-body">
    <h5 class="card-title">Arian T. Kulp</h5>
    <p class="card-text">
        Created using .NET Core 3.1 and Angular 9 in VS Code on Manjaro Linux and Visual Studio 2019 on Windows 10.  LocalDB database initialized and accessed using Entity Framework and seeded with randomly generated data.
    </p>

    <address>
      <a href="mailto:ariankulp@gmail.com">ariankulp@gmail.com</a><br>
      <a href="tel:+15413940078">(541) 394-0078</a>
    </address>
  </div>
</div>